input[type=text] {
    width: 60%;
    border-radius: 20px;
    border:2px solid blueviolet;
    margin: 5px;
    line-height: 2.5em;
    background-color: rgb(249, 224, 250);
    padding: 0 10px;
    font-size: 15px;
    color:rgb(59, 6, 109);
    display: block;
}
input[type=text]:focus{
    border:2px solid rgb(14, 156, 149);
    border-radius: 20px;
    background-color:  rgb(242, 248, 248);
    color: rgb(3, 67, 71);
    font-size: 15px;
    padding: 0 10px ;
}
input[type=button] {
    width: 120px;
    border-radius: 20px;
    line-height: 2.5em;
    font-size: 15px;
    border:2px solid blueviolet;
    background-image: linear-gradient(rgb(248, 246, 250),
    rgb(62, 6, 114),rgb(166, 87, 240));
    color: rgb(59, 6, 109);
    text-shadow: 1px 1px rgb(228, 211, 243);
    font-weight: bold;
    padding: 0 10px;
    margin:5px;
}
input[type=button]:focus {
    width: 120px;
    border-radius: 20px;
    line-height: 2.5em;
    font-size: 15px;
    border:2px solid rgb(14, 156, 149);
    background-image: linear-gradient(rgb(217, 247, 245),
    rgb(34, 83, 82),rgb(45, 136, 133));
    color: rgb(5, 56, 59);
    text-shadow: 1px 1px rgb(203, 248, 246);
    font-weight: bold;
    padding: 0 10px;
    
}
input[type=button]:hover{
    cursor: pointer;
    width: 120px;
    border-radius: 20px;
    line-height: 2.5em;
    font-size: 15px;
    border:2px solid rgb(14, 156, 149);
    background-image: linear-gradient(rgb(217, 247, 245),
    rgb(34, 83, 82),rgb(45, 136, 133));
    color: rgb(5, 56, 59);
    text-shadow: 1px 1px rgb(203, 248, 246);
    font-weight: bold;
    padding: 0 10px;
}