#first {
    width: 100%;
    height: 50px;
}

#img {
    /* width:500px; */
    display: none;
}

body {
    background-color: blue;
    /* background-repeat: repeat-y; */
}

.but {
    background: red;
    color: white;
}