/* the is the css file for index.html  */

h1{
    color:blue;
   
}
p{
    color:black;
    font-size: 18px;
    text-align: justify;
    font-weight: bold;
    border:0px solid grey;
    padding:10px;  
     
}
/* #first,#firstp{
    color:blue;
    background-color:white;    
} */
.chrome{
    color: darkblue;
    background-color: lightblue;

}
div{
    width:100%;
    height: 400px;
    border:2px solid grey;
    background-color: lightskyblue;
   
    
   
    
   
}
img:hover{
border-radius:35px ;

}
/* div:hover{
    height: 100%;
    background-color: azure;
    font-size: 19px;


} */
img{
    width:300px;
    height:200px;
    float:right;    
    border:0px solid black;  
    padding-left:10px;
   
    

    
}
.imgleft:hover{
    opacity: 1;
    
    
}
.imgleft{
    width:300px;
    height:200px;
    float:left;    
    border:0px solid black; 
    padding-right:10px;
    opacity: 0.4;
}
a{
    color:darkgreen;
}
a:hover{
    color:red;

}
#header{
    width:100%;
    height: 200px; 
    border-bottom:0px solid grey; 
    background-image: url(hamburg.jpg);
    background-size: 100% 200px;
    background-repeat: no-repeat;
   
     
}



