a[target] {
    background-color: yellow;
}

a[target="_top"] {
    background-color: rgb(58, 185, 164);
}

h1[title] {
    color: red;
}

img[title~="image"] {
    /*search word image in title*/
    border: 2px solid green;
}

img[title~="car"] {
    /* all ellement mit title car */
    /*search word image in title*/
    border: 2px solid rgb(172, 11, 65);
}

img[src="img/london.jpg"] {
    border: 3px solid orange;
}

img[src*="images"] {
    /* all elements with name "images"  */
    border: 3px solid rgb(255, 0, 0);
}

/* 
[class|="class"]{
    border: 2px solid limegreen;
}
[class*="class"]{ all elements with *class
    background-color: lightcoral;
} 
[class^="class"] {  all elements begin with "class"
    background-color: darkorchid;
}
*/

[class$="class"] {
    /*all elements, there have inside word class, not befor begin*/
    background-color: rgb(176, 122, 202);
}